::placeholder{
	color: lightgreen;
}

input[type = text]{
	width: 30%;
	padding: 5px 20px;
	font-size: 20px;
	color: lightgreen;
	background: darkgreen;
	border-radius: 10px;
}

@media screen and (max-width: 992px) {
  body {
    background-color: blue;
    color: white;
  }
  
  input[type = text] {
    width: 61%;
    padding: 34px 20px;
    font-size: 40px;
    color: lightgreen;
    background: darkgreen;
    border-radius: 43px;
}
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
    color: white;
  }

